@model CPSeed.Models.RegisterViewModel
@{
    ViewBag.Title = "Đăng ký tài khoản";
}

<section class="section-main padding-y-sm shadow-sm">
    <div class="container">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" })) {
            @Html.AntiForgeryToken()
            <h4>Đăng ký tài khoản mới</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-6">
                    <header class="section-heading heading-line">
                        <h4 class="title-section bg-white text-uppercase">Tài khoản</h4>
                    </header>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autocomplete = "off" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <header class="section-heading heading-line">
                        <h4 class="title-section bg-white text-uppercase">Thông tin cá nhân</h4>
                    </header>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FullName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Gender, new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.Gender, (new SelectList(new string[] { "Nam", "Nữ", "Khác" })), "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.BirthDate, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.BirthDate, "{0:dd/MM/yyyy}", new { @class = "form-control", type = "date" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LdWMlMUAAAAAGSSRuFBANxlWRBsK7O1ZJiYNAfR"></div>
                @*@Html.ValidationMessageFor(model => model.RecaptchaERR, "", new { @class = "text-danger" })*@
            </div>
        <div class="form-group">
                <button type="submit" class="btn btn-success"><i class="fa fa-sign-in-alt"></i> Đăng ký</button>
                <a class="btn btn-default" href="@Href("~/Account/Login")">Đăng nhập nếu đã có tài khoản</a>
            </div>
        }
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src='https://www.google.com/recaptcha/api.js'></script>
}
