@model IEnumerable<CPSeed.Models.BannerCategory>

@{
    ViewBag.Title = "Danh mục biểu ngữ";
}
<div class="page-header">
    <div class="row">
        <div class="col-sm-7">
            <h1>
                @ViewBag.Title
            </h1>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <div class="pull-right">
                    <a href="@Href("~/Admin/BannerCategory/Details/")" class="btn btn-primary btn-sm">
                        <i class="ace-icon fa fa-plus bigger-120"></i> Tạo mới
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered table-hover" id="dynamic-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Banner Count</th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.OrderBy(x => x.OrderNo)) {
            <tr>
                <td width="80" class="center">
                    @Html.DisplayFor(modelItem => item.OrderNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="center">
                    @item.Banners.Count()
                </td>
                <td>
                    @item.UserCreated.UserName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @(item.UserModified != null ? item.UserModified.UserName : "")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td class="center" width="100">
                    <div class="btn-group">
                        <a href="@Href("~/Admin/BannerCategory/Details/"+item.Id)" class="btn btn-xs btn-success">
                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                        </a>

                        <button class="btn btn-xs btn-danger" onclick="SetDeletedItemId('@item.Id')">
                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>
@section styles{

}
@section scripts{
    <script src="~/Areas/Admin/Assets/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/dataTables.buttons.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/buttons.flash.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/buttons.html5.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/buttons.print.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/buttons.colVis.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/dataTables.select.min.js"></script>

    <script>
        $(document).ready(function () {
            var myTable =
                $('#dynamic-table')
                    //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                    .DataTable({
                        bAutoWidth: false,

                        "aaSorting": []
                    });
        })
    </script>
}