@model CPSeed.Models.ApplicationRole
@{
    ViewBag.Title = "Thêm người dùng vào vai trò";
    var users = (List<CPSeed.Models.ApplicationUser>)ViewBag.Users;
}
<div class="page-header">
    <div class="row">
        <div class="col-sm-7">
            <h1>
                @ViewBag.Title
                <small>
                    <a href="@Href("~/Admin/CustomerRole")" class=""><i class="fa fa-reply"></i> Trở về danh sách</a>
                </small>
            </h1>
        </div>
    </div>
</div>
@Html.HiddenFor(m=>m.Id)
<div class="form-group">
    <label class="col-sm-3 control-label no-padding-top" for="duallist"> Kéo thả người dùng vào ô bên phải </label>

    <div class="col-sm-8">
        <select multiple="multiple" size="10" name="duallistbox_demo1[]" id="duallist" onchange="AddUsersToRole(this)">
            @foreach (var item in users) {
                <option value="@item.Id" @(Model.Users.Any(x => x.UserId == item.Id) ? "selected='selected'" : "")>@item.UserName</option>
            }
        </select>
        <div class="hr hr-16 hr-dotted"></div>
    </div>
</div>
@section styles{

    <link rel="stylesheet" href="~/Areas/Admin/Assets/css/bootstrap-duallistbox.min.css" />
}

@section scripts{
    <script src="~/Areas/Admin/Assets/js/jquery.bootstrap-duallistbox.min.js"></script>
    <script>
        jQuery(function ($) {
            var demo1 = $('select[name="duallistbox_demo1[]"]').bootstrapDualListbox({
                filterTextClear: 'Hiện tất cả',
                filterPlaceHolder: 'Bộ lọc',
                moveSelectedLabel: 'Di chuyển đã chọn',
                moveAllLabel: 'Di chuyển tất cả',
                removeSelectedLabel: 'Bỏ đã chọn',
                removeAllLabel: 'Xóa tất cả',
                infoText: 'Hiện tất cả ({0})',
                infoTextFiltered: '<span class="label label-purple label-lg">Đã lọc</span>',
                infoTextEmpty: 'Danh sách trống',
            });
            var container1 = demo1.bootstrapDualListbox('getContainer');
            container1.find('.btn').addClass('btn-white btn-info btn-bold');
        });
        function AddUsersToRole(sender) {
            var id = $(sender).val();
            var roleId = $('#Id').val();
            var ids = ''

            if (id != null) {
                ids = id.join(',')
            }
            $.post('/Admin/CustomerRole/AddUsersToRole', { roleId: roleId, ids: ids }, function (res) {
                console.log(res);
            });
        }
    </script>
}