@using Microsoft.AspNet.Identity.EntityFramework
@model IEnumerable<CPSeed.Models.ApplicationRole>

@{
    ViewBag.Title = "Vai trò thành viên";
}
<div class="page-header">
    <div class="row">
        <div class="col-sm-7">
            <h1>
                @ViewBag.Title
            </h1>
        </div>
    </div>
</div>

<table class="table table-bordered table-hover" id="dynamic-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="center">User Count</th>
            
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="center" width="15%">
                    @item.Users.Count()
                </td>
                
                <td class="center" width="150">
                    <div class="btn-group">
                        <a href="@Href("~/Admin/CustomerRole/Details/"+item.Id)" class="btn btn-xs btn-success">
                            <i class="ace-icon fa fa-users bigger-120"></i>
                        </a> 
                        <a href="@Href("~/Admin/CustomerRole/AddUser/"+item.Id)" class="btn btn-xs btn-primary">
                            <i class="ace-icon fa fa-plus bigger-120"></i>
                        </a>
                        <a href="@Href("~/Admin/CustomerRole/AddMenu/"+item.Id)" class="btn btn-xs btn-info">
                            <i class="ace-icon fa fa-list bigger-120"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>
@section styles{

}
@section scripts{
    <script src="~/Areas/Admin/Assets/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/dataTables.buttons.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/buttons.flash.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/buttons.html5.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/buttons.print.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/buttons.colVis.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/dataTables.select.min.js"></script>

    <script>
        $(document).ready(function () {
            var myTable =
                $('#dynamic-table')
                    //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                    .DataTable({
                        bAutoWidth: false,

                        "aaSorting": []
                    });
        })
    </script>
}