@model IEnumerable<CPSeed.Models.ApplicationUser>

@{
    ViewBag.Title = "Danh sách thành viên";
}

<div class="page-header">
    <div class="row">
        <div class="col-sm-7">
            <h1>
                @ViewBag.Title
            </h1>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <div class="pull-right">
                    <a href="@Href("~/Admin/Customer/Details/")" class="btn btn-primary btn-sm btn-white">
                        <i class="ace-icon fa fa-plus bigger-120"></i> Tạo mới
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered table-hover" id="dynamic-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td width="80" class="">
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <img src="@Href(item.Photo)" width="70" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    <a href="mailto:@item.Email"><i class="fa fa-external-link-alt"></i> @item.Email</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td class="center" width="100">
                    <div class="btn-group">
                        <a href="@Href("~/Admin/Customer/Details/"+item.Id)" class="btn btn-xs btn-success">
                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                        </a>

                        <button class="btn btn-xs btn-danger" onclick="SetDeletedItemId('@item.Id')">
                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>
@section styles{

}
@section scripts{
    <script src="~/Areas/Admin/Assets/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/dataTables.buttons.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/buttons.flash.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/buttons.html5.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/buttons.print.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/buttons.colVis.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/dataTables.select.min.js"></script>

    <script>
        $(document).ready(function () {
            var myTable =
                $('#dynamic-table')
                    //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                    .DataTable({
                        bAutoWidth: false,

                        "aaSorting": []
                    });
        })
    </script>
}